#footer {
    display: flex;
    flex-direction: row;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

#footer>div {
    display: flex;
    flex-direction: column;
}

#footer>div>a {
    margin-top: 15px;
}
#footer>div>a:hover{
    color: burlywood;
}

#footer>div>img {
    margin-top: 25px;
}

#nav {
    
    border: 1px solid black;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

#left {

    
    display: flex;

}

#logo>img {
    height: 100px;
}

#more {
    background-color: black;
    color: white;
    font-size: medium;
}
#more:hover{
    color: blueviolet;
}
#right {

    /* height: 100px; */
    display: flex;
    justify-content: space-evenly;
   
}
#right>button{
    background-color: black;
    color: white;
    margin: 00px 20px;
    font-size: medium;
    
}
#right>button:hover{
    color: blueviolet;
}
#search{
    height: 300px;
   
    width: 100%;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/01/ORB_Storefront_6_imgB_1400x600_20211028.jpg?impolicy=fcrop&w=900&h=225&q=mediumHigh");
background-repeat: no-repeat;
background-size: cover;
}
#first{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 160px;
    padding: 40px;

}
#first>div{
/* height: 200px; */
border: 1px solid blue;
}
#reward{
    border: 1px solid blue;
    /* height: 350px; */
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
}
#reward>div:nth-child(1){
    width: 33%;
    height: 100%;
}
#reward>div:nth-child(1)>img{
    width: 100%;
    height: 60vh;
}
#reward>div:nth-child(2){
    width: 66%;
    height: 88%;
    border: 0px solid red;
    padding: 15px;
    display: flex;
    background-color: #fefefe;
    
}

#reward>div:nth-child(2)>div>img{
    width: 130px;
}
#reward>div:nth-child(2)>div:nth-child(2){
    text-align: center;
}
ul{
   text-align: left;
}
#contory{
    height: 50px;
    width: 200px;
    padding: 5px;
}
#contory>option,input[type="phone number"]{
    font-size: 20px;
    width: 200px;
}
#reward>div:nth-child(2)>div>input{
    height: 35px;
    padding: 5px;
}
#reward>div:nth-child(2)>div>p{
    font-size: 15px;
}
#gettheapp{
    height: 50px;
    font-size: 20px;
    background-color: green;
    color: white;
}
#traveling-tips{
  
    border: 0px solid red;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
}
body>h1{
    margin-left: 35px;
}
#traveling-tips>div{
    width: 42%;
    height: 100%;
   color: white;
   background-color: #fefefe;
}
#traveling-tips>div:nth-child(1){
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/18/ORB_Blog_NationalParks_imgB_375x468_20211117.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 20px;
    
    

}
#traveling-tips>div:nth-child(2){
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/18/ORB_Blog_RoadTrips_imgB_375x468_20211117.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 20px;
}

#tmore{
    width: 150px;
    height:40px;
    font-size: 30px;
}
#read{
    width: 150px;
    height:40px;
    font-size: 30px;
}

.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 9999; /* Sit on top */
    right: 10px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
    width: 25%; /* Full width */
   /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding: 20px;
    margin-right: 20px;
    background-color: #fefefe;
    
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 91%;
    
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  #sign{
      width: 100%;
      font-size: 20px;
      background-color: green;
      color: white;
      margin: 10px auto;
      height: 30px;
  }
  #newreg{
      border: 00px;
      font-size: 20px;
      background: none;
  }
  
  .modal-content>button,p{
      width: 100%;
      margin: 10px auto;
  }
  #sign:hover,#newreg:hover{
    color: #aaaaaa;
  }
  .modal-content>p:hover{
    color: #aaaaaa;
  }
  #help{
    display: flex;
    
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
    
  }
  #help>div{
    width: 28%;
    border: 1px solid blue;
    padding-left: 20px;
    background-color: #fefefe;
   

  }
  body{
    background-color: azure;
  }
  #topdeals{
    border: 1px solid blue;
    width: 95%;
    margin: 60px auto;
    /* height: 300px; */
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2020/12/03/ORB_Storefront_Deals_2740x1484-V1.jpg");
  background-size: cover;  
  background-position: 0%;
background-color: black;
  color:rgb(69, 19, 19);
  
}
#topdeals>h4{
    margin-top:220px;
    margin-bottom: 0px;
}
#feature{
    
    height: 180px;
   margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
   
}
#feature>div{
    height: 100%;
    border: 1px solid black;
    text-align: center;
  color: #fefefe;
}
#feature>div:nth-child(4){
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_JetAndReset_imgB_900x600_20211101.jpg?impolicy=fcrop&w=300&h=200&q=mediumLow");
}

#feature>div:nth-child(2){
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_AllInclusive_imgB_900x600_20211101.jpg?impolicy=fcrop&w=300&h=200&q=mediumLow");
   text-align: center;
}
#feature>div:nth-child(3){
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_MOD_imgB_900x600_20211101.jpg?impolicy=fcrop&w=300&h=200&q=mediumLow");
}
#feature>div:nth-child(1){
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_LastMinute_imgB_900x600_20211101.jpg?impolicy=fcrop&w=300&h=200&q=mediumLow");
}
#first div>img{
    width: 100%;
    
}

#search>div{
    margin: auto;
    width: 95%;
    
    background-color: #fefefe;
    height: 100%;
}
#head{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;

}
#dataBook{
    display: flex;
    justify-content: space-evenly;
}
#dataBook>div{
    border: 1px solid #aaaaaa;
    padding: 10px;
}
#dataBook>div>input{
    border: none;
   
}
#dataBook>div>input[type="text"]{
    height: 100%;
    padding: none;
    font-size: 30px;
}
#Searcdiv{
    width: 20%;
    margin: 40px auto;
    
}
#Searcdiv>button{
    font-size: 40px;
    background-color: green;
    color: white;
    padding: 10px 50px;
}
#head>h4:hover{
   color: #aaaaaa;
}

#booking{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px;
padding: 30px;
}
#booking>div>img{
    width: 100%;
}
#booking>div{
    text-align: center;
    padding: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    #footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
   
        flex-wrap: wrap;
    }
    
}
@media screen and (min-width: 320px) and (max-width: 767px){
    #footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 40px;
        flex-wrap: wrap;
    }
    
}
